.dropdown_main {
    align-items: center;
    border: 0;
    background-color: transparent;
}

.dropdown_options {
    border: 0;
    background-color: transparent;
}

.dark {
    color: white;
}

.light {
    color: rgb(40, 44, 52);
}